
<script src='app/assets/js/effet.js'></script>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<style>
  .backdrop{
    background-color:  #333;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .centerfold-wrap{
    background-color: rgba(246,246,246,0.7);
    padding: 5em;
  }

  .invisible *{
    opacity: 0;
    cursor: auto;
  }
</style>

<section class="intro" >

<div class="backdrop" back-img="{{movie.backdrop_path}}"></div>
  <div class="intro-block">
    <div class="centerfold-wrap">
      <i ng-click="moveToHomePage()" class="backBtn fa fa-arrow-left fa-4x img-circle"></i>
      <div class="hex-master-wrap">
        <!--<div class="hover-notify">Hover Me!</div>-->
        <div class="grid-1">
          <div  ng-class="{'invisible': (movie.acteurs[0] == undefined) }" class="hex-wrap" id="hex11" data-title="{{movie.acteurs[0].character}}" data-content="actor-0" data-color="#E34C26" ng-click="selectedActor(movie.acteurs[0])">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1 actorbordure"></div>
                <div class="border-2 actorbordure"></div>
                <div class="border-3 actorbordure"></div>
              </div>
              <div class="label"><img class="arrondie imgactor" ng-src="{{ movie.acteurs[0].profile_path ? 'https://image.tmdb.org/t/p/w92' + movie.acteurs[0].profile_path : 'app/images/default.jpg'}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div  ng-class="{'invisible': (movie.acteurs[1] == undefined) }" class="hex-wrap" id="hex12" data-title="{{movie.acteurs[1].character}}" data-content="actor-1" data-color="#E34C26" ng-click="selectedActor(movie.acteurs[1])">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1 actorbordure"></div>
                <div class="border-2 actorbordure"></div>
                <div class="border-3 actorbordure"></div>
              </div>
              <div class="label"><img class="arrondie imgactor" ng-src="{{ movie.acteurs[1].profile_path ? 'https://image.tmdb.org/t/p/w92' + movie.acteurs[1].profile_path : 'app/images/default.jpg'}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-2">
          <div  ng-class="{'invisible': (movie.acteurs[2] == undefined) }" class="hex-wrap" id="hex21" data-title="{{movie.acteurs[2].character}}" data-content="actor-2" data-color="#E34C26" ng-click="selectedActor(movie.acteurs[2])">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1 actorbordure"></div>
                <div class="border-2 actorbordure"></div>
                <div class="border-3 actorbordure"></div>
              </div>
              <div class="label"><img class="arrondie imgactor" ng-src="{{ movie.acteurs[2].profile_path ? 'https://image.tmdb.org/t/p/w92' + movie.acteurs[2].profile_path : 'app/images/default.jpg'}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div class="hex-wrap" id="hex22" data-title="{{movie.original_title}}" data-content="film" data-color="#0083de">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1 filmbordure"></div>
                <div class="border-2 filmbordure"></div>
                <div class="border-3 filmbordure"></div>
              </div>
              <div class="label"><img class="arrondie"  src="{{movie.poster_path ? 'https://image.tmdb.org/t/p/w92'+movie.poster_path : 'app/images/default.jpg'}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div  ng-class="{'invisible': (movie.acteurs[3] == undefined) }" class="hex-wrap" id="hex23" data-title="{{movie.acteurs[3].character}}" data-content="actor-3" data-color="#E34C26" ng-click="selectedActor(movie.acteurs[3])">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1 actorbordure"></div>
                <div class="border-2 actorbordure"></div>
                <div class="border-3 actorbordure"></div>
              </div>
              <div class="label"><img class="arrondie imgactor" ng-src="{{ movie.acteurs[3].profile_path ? 'https://image.tmdb.org/t/p/w92' + movie.acteurs[3].profile_path : 'app/images/default.jpg'}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-3">
          <div  ng-class="{'invisible': (movie.acteurs[4] == undefined) }" class="hex-wrap" id="hex31" data-title="{{movie.acteurs[4].character}}" data-content="actor-4" data-color="#E34C26" ng-click="selectedActor(movie.acteurs[4])">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1 actorbordure"></div>
                <div class="border-2 actorbordure"></div>
                <div class="border-3 actorbordure"></div>
              </div>
              <div class="label"><img class="arrondie imgactor" ng-src="{{ movie.acteurs[4].profile_path ? 'https://image.tmdb.org/t/p/w92' + movie.acteurs[4].profile_path : 'app/images/default.jpg'}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div  ng-class="{'invisible': (movie.acteurs[5] == undefined) }" class="hex-wrap" id="hex32" data-title="{{movie.acteurs[5].character}}" data-content="actor-5" data-color="#E34C26" ng-click="selectedActor(movie.acteurs[5])">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1 actorbordure"></div>
                <div class="border-2 actorbordure"></div>
                <div class="border-3 actorbordure"></div>
              </div>
              <div class="label"><img class="arrondie imgactor" ng-src="{{ movie.acteurs[5].profile_path ? 'https://image.tmdb.org/t/p/w92' + movie.acteurs[5].profile_path : 'app/images/default.jpg'}}" /></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="code-display">
        <div class="code-description">
          <div class="actor-0">
            <p class="code-title"></p>
            <p><span>Acteur:</span>{{movie.acteurs[0].name}}</p>
            <p ng-if="movie.acteurs[0].info.biography.length > 0"><span>Biographie:</span>{{movie.acteurs[0].info.biography| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-1">
            <p class="code-title"></p>
            <p><span>Acteur:</span>{{movie.acteurs[1].name}}</p>
            <p ng-if="movie.acteurs[1].info.biography.length > 0"><span>Biographie:</span>{{movie.acteurs[1].info.biography| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-2">
            <p class="code-title"></p>
            <p><span>Acteur:</span>{{movie.acteurs[2].name}}</p>
            <p ng-if="movie.acteurs[2].info.biography.length > 0"><span>Biographie:</span>{{movie.acteurs[2].info.biography| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>


          <div class="film">
            <p class="code-title"></p>
            <p ng-if="movie.adult" ><i class="fa fa-exclamation-triangle" style="color:red"> Film pour adulte</i> </p>
            <p><span>Sortie le:</span>{{movie.release_date | date : 'dd MMMM yyyy'}}</p>
            <p ng-if="movie.genres !== undefined"> <span>Genre:</span><span class="label label-primary" ng-repeat="genre in movie.genres" >{{genre.name}}</span> </p>
            <p><span>Accroche:</span>{{movie.tagline}}</p>
            <p ng-if="movie.original_title != movie.title "> <span>Titre original:</span>{{movie.original_title }}</p>
            <div class="code-icon"></div>
          </div>

          <div class="actor-3">
            <p class="code-title"></p>
            <p><span>Acteur:</span>{{movie.acteurs[3].name}}</p>
            <p ng-if="movie.acteurs[3].info.biography.length > 0"><span>Biographie:</span>{{movie.acteurs[3].info.biography| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-4">
            <p class="code-title"></p>
            <p><span>Acteur:</span>{{movie.acteurs[4].name}}</p>
            <p ng-if="movie.acteurs[4].info.biography.length > 0"><span>Biographie:</span>{{movie.acteurs[4].info.biography| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-5">
            <p class="code-title"></p>
            <p><span>Acteur:</span>{{movie.acteurs[5].name}}</p>
            <p ng-if="movie.acteurs[5].info.biography.length > 0"><span>Biographie:</span>{{movie.acteurs[5].info.biography| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
        </div>

      </div>
      <div class="hoverblock"></div>
    </div> <!-- End Centerfold-Wrap -->
  </div>

</section>
