<script src='app/assets/js/effet.js'></script>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

<section class="intro" >

  <div class="intro-block" style="align-items: baseline;">
    <div class="container-fluid">
      <section class="text row visible-desktop">
        <h1 class="supertitle"><span class="fontawesome-star star"></span> <span>Camel Movies</span> <span class="fontawesome-star star"></span></h1>
        <h3 class="supertitle">What else ?</h3>
      </section>


      <div class="row search-wrapper cf">
        <div id="movies" class="search-box active">
          <angucomplete-alt id="movies"
          placeholder="Quel est le film que vous recherchez ?"
          pause="100"
          auto-match=true
          remote-url="http://api.themoviedb.org/3/search/movie?api_key=16f6aa27277494afd13f5497d6ceba9e&query="
          remote-url-data-field="results"
          title-field="original_title,year,vote"
          description-field="overview"
          image-field="poster_path"
          input-class="search-keyword"
          match-class="highlight"
          selected-object="selectedMovie"
          objectSelectedCallback="selectedMovie"
          remote-url-response-formatter="changeMoviesResult" ></angucomplete-alt>
          <button class="search-button" type="submit"></button>
        </div>
        <div id="actors" class="search-box">
          <angucomplete-alt id="movies"
          placeholder="Quel est l'acteur que vous recherchez ?"
          pause="100"
          auto-match=true
          remote-url="http://api.themoviedb.org/3/search/person?api_key=16f6aa27277494afd13f5497d6ceba9e&query="
          remote-url-data-field="results"
          title-field="name"
          image-field="profile_path"
          input-class="search-keyword"
          match-class="highlight"
          selected-object="selectedActor"
          objectSelectedCallback="selectedActor"
          remote-url-response-formatter="changeActorsResult"></angucomplete-alt>
          <button class="search-button" type="submit"></button>
        </div>
        <div class="hidden-phone" id="switch">
          <div class="diamond"></div>
          <div class="choice on">FILMS</div>
          <div class="choice">ACTEURS</div>
        </div>
      </div>

      <div class="row visible-desktop">
        <div class="best-of">
          <div id="top-actor" class="reward" ng-if="topActor" ng-click="go('/actor/{{topActor.id}}')">
            <span>Top Acteur/Actrice </span>

            <div class="reward-img" style="background-image:url(https://image.tmdb.org/t/p/w92{{topActor.image}})"></div>
            <div class="reward-text"><b>{{topActor.name}} </b><br>{{topActor.score}} vues</div>
          </div>

          <div class="reward" ng-if="topMovie" ng-click="go('/movie/{{topMovie.id}}')">
            <span>Top film</span>
            <div class="reward-img" style="background-image:url(https://image.tmdb.org/t/p/w92{{topMovie.image}})"></div>
            <div class="reward-text"> {{topMovie.name}}<br>{{topMovie.score}} vues</div>
          </div>
        </div>
      </div>

      <div class="row hidden-phone">
        <div class="full">
          <ul id="elements">
            <li ng-repeat="movie in popular">
              <a ng-click="moveToMovie(movie.id)">
                <div class="content">
                  <img ng-src="{{movie.poster_path}}">
                  <h1 class="full-title">{{movie.original_title | uppercase}}</h1>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="about-us">
          Application crée lors du Hackathon des 5 ans de l'istic par l'équipe camelCase : <br/>
          <i>
            <a href="https://fr.linkedin.com/in/emmpetit">Emmanuel Petit</a>,
            <a href="https://fr.linkedin.com/in/francoisesnault/"> François Esnault</a>,
            <a href="https://fr.linkedin.com/in/samyabdallah/"> Samy Abdallah</a>
          </i>
          <br />
          Synchronisation avec smartphone désactivée.
        </div>
      </div>
    </div>
    <!--
    <section class="intro" >

    <div class="intro-block" style="align-items: baseline;">




  </div>



</section>

-->
<!--</section>-->

</div>



</section>
