    <script src='app/assets/js/effet.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<section class="intro" >
  <div class="intro-block">
    <div class="centerfold-wrap">
      <div class="hex-master-wrap">
        <!--<div class="hover-notify">Hover Me!</div>-->
        <div class="grid-1">
          <div class="hex-wrap" data-title="{{thing.acteurs[0].nom}}" data-content="actor-0" data-color="#E34C26">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1"></div>
                <div class="border-2"></div>
                <div class="border-3"></div>
              </div>
              <div class="label"><img src="{{thing.acteurs[0].image}}" class="arrondie"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div class="hex-wrap frontend" data-title="{{thing.acteurs[1].nom}}" data-content="actor-1" data-color="#E34C26">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1"></div>
                <div class="border-2"></div>
                <div class="border-3"></div>
              </div>
              <div class="label"><img class="arrondie" src="{{thing.acteurs[1].image}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-2">
          <div class="hex-wrap html" data-title="{{thing.acteurs[2].nom}}" data-content="actor-2" data-color="#E34C26">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1"></div>
                <div class="border-2"></div>
                <div class="border-3"></div>
              </div>
              <div class="label"><img class="arrondie" src="{{thing.acteurs[2].image}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div class="hex-wrap css" data-title="{{thing.film.titre}}" data-content="film" data-color="#0083de">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1"></div>
                <div class="border-2"></div>
                <div class="border-3"></div>
              </div>
              <div class="label"><img class="arrondie"  src="{{thing.film.image}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div class="hex-wrap jquery" data-title="{{thing.acteurs[3].nom}}" data-content="actor-3" data-color="#E34C26">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1"></div>
                <div class="border-2"></div>
                <div class="border-3"></div>
              </div>
              <div class="label"><img class="arrondie" src="{{thing.acteurs[3].image}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-3">
          <div class="hex-wrap gui" data-title="{{thing.acteurs[4].nom}}" data-content="actor-4" data-color="#E34C26">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1"></div>
                <div class="border-2"></div>
                <div class="border-3"></div>
              </div>
              <div class="label"><img class="arrondie" src="{{thing.acteurs[4].image}}"/></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
          <div class="hex-wrap seo" data-title="{{thing.acteurs[5].nom}}" data-content="actor-5" data-color="#E34C26">
              <div class="hex-init"></div>
              <div class="hex-borders">
                <div class="border-1"></div>
                <div class="border-2"></div>
                <div class="border-3"></div>
              </div>
              <div class="label"><img class="arrondie" src="{{thing.acteurs[5].image}}" /></div>
            <div class="hexagon">
              <div class="hex-inner-1">
                <div class="hex-inner-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="code-display">
        <div class="code-description">
          <div class="actor-0">
            <p class="code-title"></p>
            <p><span>Biographie:</span>{{thing.acteurs[0].biographie | limitTo:100}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-1">
            <p class="code-title"></p>
            <p><span>Biographie:</span>{{thing.acteurs[1].biographie| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-2">
            <p class="code-title"></p>
            <p><span>Biographie:</span>{{thing.acteurs[2].biographie| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="film">


            <p class="code-title"></p>
            <p><span>Tagline:</span>{{thing.film.tagline}}</p>
            <p><span>Biographie:</span>{{thing.film.overview| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>


          <div class="actor-3">
            <p class="code-title"></p>
            <p><span>Biographie:</span>{{thing.acteurs[3].biographie| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-4">
            <p class="code-title"></p>
            <p><span>Biographie:</span>{{thing.acteurs[4].biographie| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
          <div class="actor-5">
            <p class="code-title"></p>
            <p><span>Biographie:</span>{{thing.acteurs[5].biographie| limitTo:100}}...</p>
            <div class="code-icon"></div>
          </div>
        </div>

      </div>
      <div class="hoverblock"></div>
    </div> <!-- End Centerfold-Wrap -->
  </div>

</section>

