@import url(http://fonts.googleapis.com/css?family=Enriqueta);
body {
  margin: 50px;
  padding: 0;
  background: royalblue;
  background: url(http://webneel.com/wallpaper/sites/default/files/images/04-2013/Rainy-Weather_2.jpg);
  background-size: cover;
}

.search {
  float: left;
  font-family: "Enriqueta", Garamond, serif;
  font-size: 18px;
  letter-spacing: -10pt;
}

.search-box {
  float: left;
  width: 90%;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.search-keyword {
  width: 100%;
  float: left;
  position: relative;
  padding: 10px;
  outline: 0;
  border: 0;
}

.search-button {
  position: absolute;
  border: 0;
  background: transparent;
  right: 12px;
  background: url(https://dl.dropboxusercontent.com/u/3420025/Code/Misc/CodePen/rodeo-003/search/magnifying-glass.svg) no-repeat top left;
  width: 17px;
  height: 17px;
  background-size: 17px;
  margin-top: 14px;
  margin-right: 8.5px;
  opacity: 0.65;
}
.search-button:before {
  display: block;
  content: "";
}


.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: 60px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
