@import url(http://fonts.googleapis.com/css?family=Enriqueta);
.search-wrapper {
  width:100%;
  margin: 263px 50px 50px 50px;
  padding: 0;
  background-size: cover;
}

.search {
  float: left;
  font-family: "Enriqueta", Garamond, serif;
  font-size: 18px;
  letter-spacing: -10pt;
}

.search-box {
  display: none;
  top: 150px;
  float: left;
  width: 100%;
  box-sizing: content-box;
  margin-right: 200px;
  /*position: absolute;*/
  background: rgba(255, 255, 255, 0.2);
  padding: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.search-box.active {
  display: block;
}

.search-keyword {
  width: 100%;
  float: left;
  position: relative;
  height: 54px;
  padding: 10px;
  outline: 0;
  border: 0;
}

.search-button {
  position: absolute;
  opacity: 0;
}
.search-button:before {
  display: block;
  content: "";
}


.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    /*padding: 6px;*/
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    overflow-y: auto;
    max-height: 500px;
    /*top: 32px;
    left: 0px;
    */
    margin-top: 61px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-title {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    /*padding: 5px;*/
    overflow: auto;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
    /*height: 154px;*/
}

.angucomplete-image-holder {
    /*padding-top: 2px;*/
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    /*height: 34px;
    width: 34px;
    border-radius: 50%;*/
    /*border-color: #ececec;
    border-style: solid;
    border-width: 1px;*/
}

.angucomplete-image-default {
    /* Add your own default image here*/
    background-image: url('default.jpg');

    background-position: center;
    background-size: contain;
    width: 34px;
}

.transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#switch {
  position: absolute;
  font-size: 0;
  right: 44px;
  background-color: #2a3a47;
  display: inline-block;
  color: #82909b;
  padding: 4px;
  vertical-align: middle;
  box-sizing: content-box;
  margin-top: 6px;
}
#switch .choice {
  font-size: 16px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
  box-sizing: content-box;
}
#switch .choice.on {
  color: #fff;
  background-color: #222d3b;
  box-sizing: content-box;
}
#switch .or {
  font-size: 10px;
  color: #fff;
  position: absolute;
  margin-top: 19px;
  margin-left: 108px;
  z-index: 1;
  box-sizing: content-box;
}
#switch .diamond {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 19px;
  margin-left: 116px;
  background: #2a3a47;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  box-sizing: content-box;
}



.full {
  width: 100%;
  position: absolute;
  margin: 0px auto;
}

#elements {
  width: 100%;
  margin: 80px auto;
}

#elements li {
  width: 100px;
  height: 142px;
  display: block;
  margin: 0.3%;
  position: relative;
  float: left;
}

#elements li .content {
  width: 100px;
  transition: opacity 0.6s;
  position: absolute;
  opacity: 0.2;
}

#elements li .content img {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: block;
}

#elements li .content h1 {
  width: 120%;
  height: 17px;
  line-height: 17px;
  padding: 0 5px;
  background: #4A4A4A;
  border-radius: 3px;
  overflow: hidden;
  font-size: 9px;
  margin: -25% 0px 0px -17%;
  color: #FFFFFF;
  text-shadow: #000000 1px 1px 0px;
  position: absolute;
  z-index: 1;
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);
  border: rgba(255, 255, 255, 0.23) 1px solid;
  text-transform: capitalize;
  opacity: 0;
  display: block;
}

#elements li .content:hover {
  opacity: 1;
  z-index: 5;
  margin-left: -24%;
  margin-top: -24%;
  zoom: 1.5;
}

#elements li .content:hover img {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 1);
  border-radius: 3px;
}

#elements li .content:hover h1 {
  opacity: 1;
}
