@import url(http://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);


section.text {
  position: absolute;
  width: 100%;
  min-width: 800px;
  text-align: center;
  margin-top: 55px;
  z-index: 100;
}

h1.supertitle, h3.supertitle {
  transform: matrix(1, -0.20, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
}

h1.supertitle {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
}

h1.supertitle span {
  display: inline-block;
  vertical-align: middle;
}

span.star {
  font-size: 20px;
}

h3.supertitle {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;  
  position: relative;
}

h3:before, h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 4px;
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}

h3:before {
  margin: 5px 0 0 -110px;
}

h3:after {
  margin: 5px 0 0 10px;
}